body{
    font-size: 1.5rem;
}
.column{
    /* column-count: 4; /* to create 4 columns  
    column-width: 250px; */
    columns: 4 250px;
    column-rule: 3px solid #333;
    column-gap: 3rem;
}
.column p{
    margin-top: 0;
}
.column h2{
    margin: 0;
    background-color: #333;
    color: antiquewhite;
    padding:3rem;
    /*break-before: column;  This will avoid the dividing heading into 2 columns. but avoid it.*/
    break-inside: avoid;
}
.column.quote{
    margin-top: 1rem;
    color: #333;
    text-align: center;
    font-size: 3rem;
    column-span: all; 
    /* to make the quote display in all the collumn span */

}
/* to combine the - and dhuddu in a same line eventhough we change the display size */
.nowrap{
    white-space: nowrap;
}

/* 1. how to make columns
2. how to add or remove margin to columns
3. creating column gaps/seperation lines. it is like a border.
4. making a sentence with all column span
5. combine the - and dhuddu to be together. */
